# dependencies
node_modules
package-lock.json

# build output
.turbo
/apps/*/.next
/apps/*/dist
/apps/*/out

# environment
.env
.env.*

# editor
.idea
.vscode
*.log

# macOS / Windows
.DS_Store
Thumbs.db


