{
	email {$CADDY_EMAIL}
}

api.murmurmne.com {
	encode gzip
	reverse_proxy backend:4000 {
		# Увеличиваем лимит размера тела запроса для загрузки больших видео файлов
		transport http {
			response_header_timeout 5m
		}
	}
	# Увеличиваем лимит размера тела запроса до 500MB
	request_body {
		max_size 500MB
	}
}

mini.murmurmne.com {
	encode gzip
	reverse_proxy miniapp:3000
	header -X-Frame-Options
	header Content-Security-Policy "frame-ancestors https://web.telegram.org https://*.telegram.org https://mini.murmurmne.com"
}

admin.murmurmne.com {
	encode gzip
	reverse_proxy admin:3000
}


